<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>数码</string>
		<key>sub</key>
		<array>
			<dict>
				<key>count</key>
				<integer>6</integer>
				<key>name</key>
				<string>电脑</string>
				<key>image</key>
				<string>diannao</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>相机</string>
				<key>image</key>
				<string>xiangji</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>手机</string>
				<key>image</key>
				<string>shouji</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>平板</string>
				<key>image</key>
				<string>pingban</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>餐饮</string>
		<key>sub</key>
		<array>
			<dict>
				<key>count</key>
				<integer>6</integer>
				<key>name</key>
				<string>炒菜</string>
				<key>image</key>
				<string>chaocai</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>6</integer>
				<key>name</key>
				<string>简餐</string>
				<key>image</key>
				<string>jiancan</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>6</integer>
				<key>name</key>
				<string>西餐</string>
				<key>image</key>
				<string>xican</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>家电</string>
		<key>sub</key>
		<array>
			<dict>
				<key>count</key>
				<integer>6</integer>
				<key>name</key>
				<string>电视</string>
				<key>image</key>
				<string>dianshi</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>6</integer>
				<key>name</key>
				<string>冰箱</string>
				<key>image</key>
				<string>bingxiang</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>6</integer>
				<key>name</key>
				<string>洗衣机</string>
				<key>image</key>
				<string>xiyiji</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>家具</string>
		<key>sub</key>
		<array>
			<dict>
				<key>count</key>
				<integer>6</integer>
				<key>name</key>
				<string>实木家具</string>
				<key>image</key>
				<string>shimujiaju</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>6</integer>
				<key>name</key>
				<string>版式家具</string>
				<key>image</key>
				<string>banshijiaju</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>6</integer>
				<key>name</key>
				<string>金属家具</string>
				<key>image</key>
				<string>jinshujiaju</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>6</integer>
				<key>name</key>
				<string>办公家具</string>
				<key>image</key>
				<string>办公家具</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>汽车</string>
		<key>sub</key>
		<array>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>跑车</string>
				<key>image</key>
				<string>paoche</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>轿车</string>
				<key>image</key>
				<string>jiaoche</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>小型车</string>
				<key>image</key>
				<string>xiaoxingche</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>SUV</string>
				<key>image</key>
				<string>SUV</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>豪华车</string>
				<key>image</key>
				<string>haohuache</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>服装</string>
		<key>sub</key>
		<array>
			<dict>
				<key>count</key>
				<integer>6</integer>
				<key>name</key>
				<string>男装</string>
				<key>image</key>
				<string>nanzhaung</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>6</integer>
				<key>name</key>
				<string>婚纱</string>
				<key>image</key>
				<string>hunsha</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>6</integer>
				<key>name</key>
				<string>女装</string>
				<key>image</key>
				<string>nvzhuang</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>6</integer>
				<key>name</key>
				<string>西服</string>
				<key>image</key>
				<string>xifu</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>鞋靴</string>
		<key>sub</key>
		<array>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>皮鞋</string>
				<key>image</key>
				<string>pixie</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>运动鞋</string>
				<key>image</key>
				<string>yundongxie</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>布鞋</string>
				<key>image</key>
				<string>buxie</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>珠宝</string>
		<key>sub</key>
		<array>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>项链</string>
				<key>image</key>
				<string>xianglian</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>戒指</string>
				<key>image</key>
				<string>jiezhi</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>钻戒</string>
				<key>image</key>
				<string>zuanjie</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>镯子</string>
				<key>image</key>
				<string>zhuozi</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>美妆</string>
		<key>sub</key>
		<array>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>口红</string>
				<key>image</key>
				<string>kouhong</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>BB霜</string>
				<key>image</key>
				<string>BBshuang</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>眼线</string>
				<key>image</key>
				<string>yanxian</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>睫毛膏</string>
				<key>image</key>
				<string>jiemaogao</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>指甲油</string>
				<key>image</key>
				<string>zhijiayou</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>母婴</string>
		<key>sub</key>
		<array>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>婴儿车</string>
				<key>image</key>
				<string>yingerche</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>婴儿床</string>
				<key>image</key>
				<string>yingerchuang</string>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>name</key>
				<string>产妇服</string>
				<key>image</key>
				<string>chanfufu</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
